* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 54px;
  width: 100%;
  border: 1px solid #e8e8e8;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
}
header.navigation div.navi-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}
header.navigation div.navi-content a.navi-link {
  text-decoration: none;
  color: inherit;
}
header.navigation div.navi-content a.navi-link h2.navi-header {
  font-family: Noto Sans TC;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #448899;
}
header.navigation div.navi-content div.header-button-area {
  margin-left: auto;
}
header.navigation div.navi-content div.header-button-area .header-2-buttons-area {
  display: flex;
  gap: 10px;
}
header.navigation div.navi-content div.header-button-area .header-2-buttons-area button {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  text-align: left;
  color: #666666;
  cursor: pointer;
}
header.navigation div.navi-content div.header-button-area .header-2-buttons-area button:hover {
  background-color: #ccc;
}

section.welcome-area {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
section.welcome-area div.hero {
  width: 100%;
  height: 320px;
  background-image: url(/static/images/image/welcome_image.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: top center;
}
section.welcome-area div.hero div.hero-content {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #f8f8f8;
  text-align: left;
}
section.welcome-area div.hero div.hero-content h1 {
  padding: 15px 15px 15px 0;
  font-family: Noto Sans TC;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-shadow: 0px 0px 30px 0px #aabbcc;
}
section.welcome-area div.hero div.hero-content p {
  padding: 15px 15px 30px 0;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
}
section.welcome-area div.hero div.hero-content .input-area {
  font-size: 16px;
  width: 460px;
  border-radius: 5px;
  border: none;
  display: flex;
}
section.welcome-area div.hero div.hero-content .input-area input {
  padding-left: 15px;
  color: #000000;
  font-size: 16px;
  width: 400px;
  height: 46px;
  box-shadow: 0px 0px 20px 0px #aabbcc;
  border-radius: 5px 0 0 5px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
}
section.welcome-area div.hero div.hero-content .input-area button {
  width: 60px;
  height: 46px;
  background-color: #448899;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0 5px 5px 0;
}
section.welcome-area div.hero div.hero-content .input-area button img {
  width: 30px;
  height: 30px;
  top: 8px;
  left: 15px;
  gap: 0px;
  transition: transform 0.1s ease-in-out;
}
section.welcome-area div.hero div.hero-content .input-area button img:active {
  transform: scale(1.2);
}
section.welcome-area div.hero div.hero-content .input-area button:hover {
  background-color: #367688;
}

section.list-bar {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
section.list-bar .list-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
section.list-bar .list-content div.list-container {
  height: 50px;
  padding: 13px 10px 13px 10px;
  gap: 10px;
  margin: 25px;
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
}
section.list-bar .list-content div.list-container .listItem-Container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
section.list-bar .list-content div.list-container .listItem-Container::-webkit-scrollbar {
  display: none;
}
section.list-bar .list-content div.list-container button {
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow-x: auto;
  border: none;
  background: none;
  overflow: hidden;
  padding: 5px 15px 5px 15px;
  gap: 4px;
  white-space: nowrap;
  cursor: pointer;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  text-align: center;
  color: #666666;
}
section.list-bar .list-content div.list-container button:hover {
  color: #000000;
}
section.list-bar .list-content .left-container,
section.list-bar .list-content .right-container {
  cursor: pointer;
  border: none;
  background: none;
}
section.list-bar .list-content .left-container img,
section.list-bar .list-content .right-container img {
  width: 32px;
  height: 32px;
  transition: transform 0.1s ease-in-out;
}
section.list-bar .list-content .left-container img:active,
section.list-bar .list-content .right-container img:active {
  transform: scale(1.2);
}
section.list-bar .list-content .right-container:hover img {
  content: url(/static/images/icon/ArrowRight_Hovered.png);
}
section.list-bar .list-content .left-container:hover img {
  content: url(/static/images/icon/ArrowLeft_hovered.png);
}

.attractions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.attractions .attractions-group {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.attractions .attractions-group .grid-item:hover {
  transition: 0.1s;
  color: #d3d3d3;
  box-shadow: 0px 0px 10px #888888;
}
.attractions .attractions-group .grid-item {
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.attractions .attractions-group .grid-item:active {
  transform: scale(1.05);
}
.attractions .attractions-group .grid-item .img {
  position: relative;
  height: calc(100% - 45px);
}
.attractions .attractions-group .grid-item .img img {
  width: 100%;
  height: 192px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.attractions .attractions-group .grid-item .img .location-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
}
.attractions .attractions-group .grid-item .img .location-name p {
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.attractions .attractions-group .grid-item .mrt-category {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 0 10px;
}
.attractions .attractions-group .grid-item .mrt-category p {
  transform: translate(0, 2px);
  color: #757575;
  text-align: center;
}

section.indivisual-location {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
section.indivisual-location div.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
section.indivisual-location div.location .pic-area {
  position: relative;
  width: 50%;
  height: 400px;
  margin-right: 40px;
}
section.indivisual-location div.location .pic-area .left-btn,
section.indivisual-location div.location .pic-area .right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;
}
section.indivisual-location div.location .pic-area .left-btn img,
section.indivisual-location div.location .pic-area .right-btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: none !important;
}
section.indivisual-location div.location .pic-area .left-btn:active,
section.indivisual-location div.location .pic-area .right-btn:active {
  transform: translateY(-50%) scale(1.2);
}
section.indivisual-location div.location .pic-area .left-btn {
  left: 10px;
}
section.indivisual-location div.location .pic-area .right-btn {
  right: 10px;
}
section.indivisual-location div.location .pic-area .location-image-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.indivisual-location div.location .pic-area .location-image-area img.fade {
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
section.indivisual-location div.location .pic-area .location-image-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
section.indivisual-location div.location .pic-area .circle-btn-area {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
section.indivisual-location div.location .pic-area .circle-btn-area .circle-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
}
section.indivisual-location div.location .pic-area .circle-btn-area .circle-container img {
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
section.indivisual-location div.location .pic-area .circle-btn-area .circle-container img:last-child {
  margin-right: 0;
}
section.indivisual-location div.location .profile {
  width: 50%;
  height: 400px;
  display: block;
}
section.indivisual-location div.location .profile .attraction-name {
  font-family: Noto Sans TC;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #666666;
  margin: 5px auto;
}
section.indivisual-location div.location .profile .profile-p {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  color: #666666;
}
section.indivisual-location div.location .profile .profile-p .category {
  margin-right: 5px;
}
section.indivisual-location div.location .profile .profile-p .attraction-mrt {
  margin-left: 5px;
}
section.indivisual-location div.location .profile .profile-p .category {
  color: #666666;
}
section.indivisual-location div.location .profile .profile-p .attraction-mrt {
  color: #666666;
}
section.indivisual-location div.location .profile .booking {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #e8e8e8;
  height: 302px;
}
section.indivisual-location div.location .profile .booking .tour-title {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #666666;
  margin-bottom: 15px;
}
section.indivisual-location div.location .profile .booking .tour-content {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #666666;
  margin-bottom: 15px;
}
section.indivisual-location div.location .profile .booking .time {
  margin-bottom: 15px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #666666;
}
section.indivisual-location div.location .profile .booking .time input[type=date] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: left;
  position: relative;
  z-index: 1;
  width: 193px;
}
section.indivisual-location div.location .profile .booking .time input[type=date]::-webkit-calendar-picker-indicator {
  background: url("../images/icon/icon_calendar.png") no-repeat;
  color: transparent;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-width: thin;
}
section.indivisual-location div.location .profile .booking .choose-day {
  display: flex;
  margin-bottom: 15px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #666666;
}
section.indivisual-location div.location .profile .booking .choose-day label {
  margin-left: 10px;
}
section.indivisual-location div.location .profile .booking .choose-day .form-check-input:checked + .form-check-label::before {
  background-color: #448899;
  border-color: #448899;
}
section.indivisual-location div.location .profile .booking .choose-day .form-check-input {
  display: none;
}
section.indivisual-location div.location .profile .booking .choose-day .form-check-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  cursor: pointer;
}
section.indivisual-location div.location .profile .booking .price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #666666;
}
section.indivisual-location div.location .profile .booking .price .fee {
  margin-left: 10px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
section.indivisual-location div.location .profile .booking .reservation-btn {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}
section.indivisual-location div.location .profile .booking .reservation-btn button {
  width: 154px;
  height: 36px;
  font-family: Noto Sans TC;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  background-color: #448899;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px, 20px, 10px, 20px;
}
section.indivisual-location div.location .profile .booking .reservation-btn button:hover {
  background-color: #2b5762;
}

div.seperate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.seperate hr {
  width: 1200px;
  border: 1px solid #e8e8e8;
  margin: 40px 0;
}

section.description-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.description-area div.dis-content {
  width: 1200px;
  margin: 10px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #666666;
}
section.description-area div.dis-content div.content {
  margin-bottom: 20px;
}
section.description-area div.dis-content div.address,
section.description-area div.dis-content div.transportation {
  margin-bottom: 20px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
section.description-area div.dis-content div.address div,
section.description-area div.dis-content div.transportation div {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #666666;
}

.signin-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;
}
.signin-mask .signin {
  height: 275px;
  width: 340px;
  box-shadow: 0px 4px 60px 0px #aaaaaa;
  border-radius: 6px;
  margin: 0 auto;
}
.signin-mask .signin .sign-content {
  background: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.signin-mask .signin .sign-content .decorator-bar {
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 6px 6px 0px 0px;
  margin-bottom: 20px;
}
.signin-mask .signin .sign-content .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.signin-mask .signin .sign-content .close .close-sigin img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: -5px;
  transition: transform 0.1s ease-in-out;
}
.signin-mask .signin .sign-content .close .close-sigin img:active {
  transform: scale(1.2);
}
.signin-mask .signin .sign-content .close h1 {
  color: #666666;
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-family: Noto Sans TC;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.signin-mask .signin .sign-content .main {
  padding: 15px;
}
.signin-mask .signin .sign-content .main input[type=text],
.signin-mask .signin .sign-content .main input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #757575;
}
.signin-mask .signin .sign-content .main input[type=text]:focus,
.signin-mask .signin .sign-content .main input[type=password]:focus {
  border-color: #448899;
  outline: none;
}
.signin-mask .signin .sign-content .main .signin-button,
.signin-mask .signin .sign-content .main .go-to-signup {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #448899;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signin-mask .signin .sign-content .main .signin-button:hover,
.signin-mask .signin .sign-content .main .go-to-signup:hover {
  background-color: #346976;
}
.signin-mask .signin .sign-content .main .go-to-signup {
  background-color: #f0f4f8;
  color: #666666;
  text-decoration: none;
}
.signin-mask .signin .sign-content .main .go-to-signup:hover {
  background-color: #dae0e5;
}

.signup-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;
}
.signup-mask .signup {
  width: 340px;
  height: auto;
  box-shadow: 0px 4px 60px 0px #aaaaaa;
  border-radius: 6px;
  margin: 0 auto;
  background: #f0f4f8;
}
.signup-mask .signup .signup-content {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.signup-mask .signup .signup-content .decorator-bar {
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 6px 6px 0 0;
  margin-bottom: 20px;
}
.signup-mask .signup .signup-content .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.signup-mask .signup .signup-content .close button.close-sigup img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: -5px;
  transition: transform 0.1s ease-in-out;
}
.signup-mask .signup .signup-content .close button.close-sigup img:active {
  transform: scale(1.2);
}
.signup-mask .signup .signup-content .close h1 {
  color: #666666;
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-family: Noto Sans TC;
  font-weight: 700;
  line-height: 24px;
}
.signup-mask .signup .signup-content .main {
  padding: 15px;
}
.signup-mask .signup .signup-content .main input[type=text],
.signup-mask .signup .signup-content .main input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #757575;
}
.signup-mask .signup .signup-content .main input[type=text]:focus,
.signup-mask .signup .signup-content .main input[type=password]:focus {
  border-color: #448899;
  outline: none;
}
.signup-mask .signup .signup-content .main .signup-button,
.signup-mask .signup .signup-content .main .go-to-signin {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #448899;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signup-mask .signup .signup-content .main .signup-button:hover,
.signup-mask .signup .signup-content .main .go-to-signin:hover {
  background-color: #346976;
}
.signup-mask .signup .signup-content .main .go-to-signin {
  background-color: #f0f4f8;
  color: #666666;
  text-decoration: none;
}
.signup-mask .signup .signup-content .main .go-to-signin:hover {
  background-color: #dae0e5;
}

.footer {
  width: 100%;
  height: 104px;
  margin-top: 40px;
  text-align: center;
  background-color: #757575;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  text-align: center;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: #ffffff;
}

@media (min-width: 601px) and (max-width: 1200px) {
  header.navigation {
    width: 100%;
  }
  header.navigation .navi-content {
    width: 90% !important;
  }
  section.welcome-area {
    width: 100%;
  }
  section.welcome-area .hero .hero-content {
    width: 90% !important;
  }
  section.welcome-area .hero .hero-content .input-area {
    width: 90% !important;
  }
  section.list-bar {
    width: 90% !important;
  }
  section.attractions {
    width: 100%;
  }
  section.attractions div.attractions-group {
    width: 90% !important;
    grid-template-columns: repeat(2, 1fr);
  }
  section.indivisual-location {
    width: 100% !important;
  }
  section.indivisual-location div.location {
    display: flex;
    justify-content: space-around;
    width: 90% !important;
  }
  section.indivisual-location div.location .pic-area {
    margin-right: 20px;
  }
  section.indivisual-location div.location .profile {
    margin-top: 30px;
  }
  section.indivisual-location div.location .profile .booking {
    margin-bottom: 0;
  }
  section.indivisual-location div.location .profile .booking .tour-title,
  section.indivisual-location div.location .profile .booking .tour-content,
  section.indivisual-location div.location .profile .booking .choose-day,
  section.indivisual-location div.location .profile .booking .time,
  section.indivisual-location div.location .profile .booking .price {
    font-size: 14px;
  }
  section.indivisual-location div.location .profile .booking .time {
    margin-bottom: 5px;
  }
  section.indivisual-location div.location .profile .booking .time input {
    width: 60% !important;
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  header.navigation {
    width: 100%;
  }
  header.navigation .navi-content {
    width: 90% !important;
  }
  header.navigation .navi-content .header-button-area .header-2-buttons-area button {
    padding: 0 !important;
    font-size: 1.4vh !important;
  }
  section.welcome-area {
    width: 100%;
  }
  section.welcome-area .hero {
    background-position: left !important;
  }
  section.welcome-area .hero .hero-content {
    width: 90% !important;
  }
  section.welcome-area .hero .hero-content .input-area {
    width: 90% !important;
  }
  section.list-bar {
    width: 90% !important;
  }
  section.attractions {
    width: 100%;
  }
  section.attractions div.attractions-group {
    width: 90% !important;
    grid-template-columns: repeat(1, 1fr);
  }
  section.indivisual-location {
    width: 100% !important;
    margin-top: 0;
  }
  section.indivisual-location div.location {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
  }
  section.indivisual-location div.location .pic-area {
    width: 100%;
    margin-right: 0;
  }
  section.indivisual-location div.location .profile {
    width: 95%;
    margin-top: 30px;
  }
  section.indivisual-location div.location .profile .booking .price {
    margin-bottom: 30px;
  }
  section.indivisual-location div.location .profile .booking .reservation-btn {
    margin: 0;
  }
  div.seperate hr {
    margin: 20px 0;
  }
}
@media (min-width: 360px) and (max-width: 390px) {
  .navi-content {
    font-size: 100% !important;
  }
  .navi-content a.navi-link h2 {
    font-size: 2.3vh !important;
  }
  .navi-content .header-button-area .header-2-buttons-area button {
    font-size: 1.2vh !important;
  }
}/*# sourceMappingURL=style.css.map */