* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 54px;
  width: 100%;
  // border: 1px solid #e8e8e8;
  box-shadow: 0 3px 6px -6px gray;

  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;

  div.navi-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    a.navi-link {
      text-decoration: none;
      color: inherit;
      h2.navi-header {
        font-family: Noto Sans TC;
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        color: #448899;
      }
    }

    div.header-button-area {
      margin-left: auto;
      .header-2-buttons-area {
        display: flex;
        gap: 10px;

        button {
          padding: 10px;
          border: none;
          background-color: transparent;
          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 500;
          line-height: 13.3px;
          text-align: left;
          color: #666666;
          cursor: pointer;

          &:hover {
            background-color: #ccc;
          }
        }
      }
    }
  }
}

section.welcome-area {
  width: 100%;
  height: 320px;
  overflow: hidden;

  div.hero {
    width: 100%;
    height: 320px;
    background-image: url(/static/images/image/welcome_image.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: top center;

    div.hero-content {
      width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      color: #f8f8f8;
      text-align: left;
      h1 {
        padding: 15px 15px 15px 0;
        font-family: Noto Sans TC;
        font-size: 28px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-shadow: 0px 0px 30px 0px #aabbcc;
      }
      p {
        padding: 15px 15px 30px 0;
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 700;
        line-height: 13.3px;
        text-align: left;
      }

      .input-area {
        font-size: 16px;
        width: 460px;
        border-radius: 5px;
        border: none;
        display: flex;

        input {
          padding-left: 15px;
          color: #000000;
          font-size: 16px;
          width: 400px;
          height: 46px;
          box-shadow: 0px 0px 20px 0px #aabbcc;
          border-radius: 5px 0 0 5px;

          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 700;
          line-height: 13.3px;
          text-align: left;
        }
        button {
          width: 60px;
          height: 46px;

          background-color: #448899;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          display: flex;
          border-radius: 0 5px 5px 0;
          img {
            width: 30px;
            height: 30px;
            top: 8px;
            left: 15px;
            gap: 0px;
            transition: transform 0.1s ease-in-out;
            &:active {
              transform: scale(1.2);
            }
          }
          &:hover {
            background-color: #367688;
          }
        }
      }
    }
  }
}

section.list-bar {
  width: 1200px;
  display: flex;
  margin: 0 auto;

  align-items: center;
  text-align: center;
  .list-content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    div.list-container {
      height: 50px;
      padding: 13px 10px 13px 10px;
      gap: 10px;
      margin: 25px;
      overflow-x: auto;
      display: flex;
      white-space: nowrap;

      .listItem-Container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;

        scroll-behavior: smooth;
        scrollbar-width: none;

        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      button {
        min-width: fit-content;
        overflow-x: auto;
        border: none;
        background: none;
        overflow: hidden;
        padding: 5px 15px 5px 15px;
        gap: 4px;
        white-space: nowrap;
        cursor: pointer;

        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 500;
        line-height: 13.3px;
        text-align: center;
        color: #666666;

        &:hover {
          color: #000000;
        }
      }
    }
    .left-container,
    .right-container {
      cursor: pointer;
      border: none;
      background: none;

      img {
        width: 32px;
        height: 32px;
        transition: transform 0.1s ease-in-out;
        &:active {
          transform: scale(1.2);
        }
      }
    }
    .right-container {
      &:hover img {
        content: url(/static/images/icon/ArrowRight_Hovered.png);
      }
    }
    .left-container {
      &:hover img {
        content: url(/static/images/icon/ArrowLeft_hovered.png);
      }
    }
  }
}
// .list-container,
// .listItem-Container,
// button {
//   border: 1px solid red;
// }
.attractions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .attractions-group {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    .grid-item:hover {
      transition: 0.1s;
      color: #d3d3d3;
      box-shadow: 0px 0px 10px #888888;
    }
    .grid-item {
      border: 1px solid #e8e8e8;

      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
      &:active {
        transform: scale(1.05);
      }

      .img {
        position: relative;
        height: calc(100% - 45px);
        img {
          width: 100%;
          height: 192px;
          object-fit: cover;
          border-radius: 5px 5px 0 0;
        }
        .location-name {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 40px;
          background: rgba(0, 0, 0, 0.6);
          color: white;
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: right;
          p {
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      .mrt-category {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        padding: 0 10px;
        p {
          transform: translate(0, 2px);
          color: #757575;
          text-align: center;
        }
      }
    }
  }
}

section.indivisual-location {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  div.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;

    .pic-area {
      position: relative;
      width: 50%;
      height: 400px;
      margin-right: 40px;

      .left-btn,
      .right-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        cursor: pointer;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.1s ease-in-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          animation: none !important;
        }

        &:active {
          transform: translateY(-50%) scale(1.2);
        }
      }

      .left-btn {
        left: 10px;
      }

      .right-btn {
        right: 10px;
      }

      .location-image-area {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img.fade {
          animation: fadeEffect 1s;
          @keyframes fadeEffect {
            from {
              opacity: 0.6;
            }
            to {
              opacity: 1;
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // border-radius: 10px;
          overflow: hidden;
        }
      }

      .circle-btn-area {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;

        justify-content: center;
        // border: 2px solid black;
        .circle-container {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;

          width: 12px;
          height: 12px;
          margin: 0 5px;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            margin-right: 5px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .profile {
      width: 50%;
      height: 400px;
      display: block;

      .attraction-name {
        font-family: Noto Sans TC;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: #666666;
        margin: 5px auto;
      }

      .profile-p {
        display: flex;
        align-items: center;
        margin: 20px 0;

        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 400;
        line-height: 13.3px;
        text-align: left;
        color: #666666;

        .category {
          margin-right: 5px;
        }
        .attraction-mrt {
          margin-left: 5px;
        }

        .category {
          color: #666666;
        }

        .attraction-mrt {
          color: #666666;
        }
      }

      .booking {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        background-color: #e8e8e8;
        height: 302px;

        .tour-title {
          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 700;

          text-align: left;
          color: #666666;
          margin-bottom: 15px;
        }
        .tour-content {
          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 400;

          text-align: left;
          color: #666666;
          margin-bottom: 15px;
        }

        .time {
          margin-bottom: 15px;
          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 700;

          text-align: left;
          color: #666666;

          input[type="date"] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;

            font-family: Noto Sans TC;
            font-size: 16px;
            font-weight: 400;
            appearance: none;
            text-align: left;
            position: relative;
            z-index: 1;
            width: 193px;

            &::-webkit-calendar-picker-indicator {
              background: url("../images/icon/icon_calendar.png") no-repeat;
              color: transparent;
              z-index: 2;
              width: 20px;
              height: 20px;
              border-width: thin;
            }
          }
        }

        .choose-day {
          display: flex;
          margin-bottom: 15px;

          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 700;

          text-align: left;
          color: #666666;
          label {
            margin-left: 10px;
          }

          .form-check-input {
            &:checked + .form-check-label::before {
              background-color: #448899;
              border-color: #448899;
            }
          }
          .form-check-input {
            display: none;
          }

          .form-check-label::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            background-color: #fff;
            vertical-align: middle;
            cursor: pointer;
          }
        }

        .price {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 700;
          text-align: left;
          color: #666666;

          .fee {
            margin-left: 10px;

            font-family: Noto Sans TC;
            font-size: 16px;
            font-weight: 400;
            text-align: left;
          }
        }

        .reservation-btn {
          display: flex;
          justify-content: flex-start;
          margin: 20px 0;

          button {
            width: 154px;
            height: 36px;
            font-family: Noto Sans TC;
            font-size: 19px;
            font-weight: 400;
            text-align: center;

            background-color: #448899;
            color: #fff;

            border-radius: 5px;
            cursor: pointer;

            padding: 10px, 20px, 10px, 20px;

            &:hover {
              background-color: #2b5762;
            }
          }
        }
      }
    }
  }
}

div.seperate {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  hr {
    width: 1200px;
    border: 1px solid #e8e8e8;
    margin: 40px 0;
  }
}
div.seperate-card {
  width: 100%;

  justify-content: center;
  hr {
    width: 100%;
    border: 1px solid #e8e8e8;
    margin: 40px 0;
  }
}

section.description-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div.dis-content {
    width: 1200px;
    margin: 10px;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

    color: #666666;
    div.content {
      margin-bottom: 20px;
    }

    div.address,
    div.transportation {
      margin-bottom: 20px;
      font-family: Noto Sans TC;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      div {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 400;
        text-align: left;

        color: #666666;
      }
    }
  }
}

section.booking-location {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  .location {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 1200px;
    margin: 10px;

    .pic-area {
      width: 266px;
      height: 200px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 40px;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .booking-profile {
      width: 80%;
      position: relative;

      h1 {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        color: #448899;
        margin-bottom: 20px;
      }

      .booking {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div.date,
        div.time,
        div.price,
        div.address {
          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 700;
          text-align: left;
        }
        div {
          display: flex;
          justify-content: flex-start;

          font-family: Noto Sans TC;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          color: #666666;
        }

        .trash-btn {
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          border: none;
          cursor: pointer;
          button {
            background: transparent;
            border: none;

            img {
              width: 100%;
              height: auto;
              transition: transform 0.3s ease;
            }

            &:hover img {
              transform: scale(1.1);
            }

            &:active img {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

section.no-booking-area,
section.contact-area,
section.card-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .no-booking-group,
  .contact-group,
  .card-group {
    width: 1200px;
    h3.no-booking-title {
      margin-top: 20px;
      margin-bottom: 0px;
    }

    h3 {
      margin-bottom: 15px;

      font-family: Noto Sans TC;
      font-size: 19px;
      font-weight: 700;
      text-align: left;
      color: #666666;
    }
    p {
      font-family: Noto Sans TC;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      color: #666666;
      margin-top: 15px;
    }
    div.result {
      margin-top: 20px;
      margin-bottom: 0px;
    }

    div {
      font-family: Noto Sans TC;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      color: #666666;
    }
    form.card-user {
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        input,
        div.tpfield {
          border: 1px solid #e8e8e8;
          height: 38px;
          border-radius: 5px;
          padding: 8px;
        }
      }
    }
  }
}
#phone-success {
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}

$primary-color: #356672;
$secondary-color: #666;
$base-font-size: 16px;
section.order-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #order-details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .order-card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      margin: 20px;
      background-color: #f9f9f9;
      .trip-info {
        margin: 10px;
      }

      .trip-area {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .attraction-image {
          width: 70%;
          height: auto;
          border-radius: 8px;
          margin-left: 20px;
        }
      }

      h2 {
        color: $primary-color;
      }

      p {
        font-size: $base-font-size;
        color: $secondary-color;
      }
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #356672;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

section.total-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  div.totla-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
    gap: 20px;
    width: 1200px;
    div {
      color: #666666;
    }

    .submit-booking-payment {
      padding: 10px 20px 10px 20px;
      border-radius: 5px;

      font-family: Noto Sans TC;
      font-size: 19px;
      font-weight: 400;

      text-align: center;

      color: white;
      background-color: #448899;

      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        background-color: #356672;
      }
      &:active {
        transform: scale(1.2);
      }
    }
  }
}

section.thankyou-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  div {
    div {
      h1 {
        font-family: Noto Sans TC;
        font-size: 19px;
        font-weight: 700;
        text-align: left;
        color: #666666;
      }
      p {
        font-family: Noto Sans TC;
        font-size: 25px;
        font-weight: 300;
        text-align: left;
        color: #666666;
        padding: 10px;
      }
      div {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        color: #666666;
      }
      a {
        text-decoration: none;
        color: inherit;
        text-align: left;
        padding: 5px;
        h2 {
          font-family: Noto Sans TC;
          font-size: 15px;
          font-weight: 700;
          line-height: 34px;
          text-align: left;
          color: #448899;
        }
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          color: #356672;
        }
        &:active {
          color: #356672;
        }
      }
    }
  }
}

section.user-profile {
  margin-top: 50px;
}
section.user-profile,
section.update-profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background: #fff;
    border-radius: 5px;
    padding: 20px;
    h2 {
      color: #356672;
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      color: #666666;
      margin-top: 15px;
    }
    div {
      width: 50%;

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }
    form {
      display: grid;
      grid-template-columns: 1fr;

      label {
        font-size: 16px;
        color: #666666;
      }

      input[type="text"],
      input[type="email"],
      input[type="file"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        &:focus {
          border-color: #356672;
          outline: none;
        }
      }

      input[type="file"] {
        border: none;
      }
    }
    button {
      background-color: #437f8f;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #529bad;
      }
    }
    #errorMessage {
      margin: 10px;
      padding: 10px;
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
      box-shadow: 0;
      border-radius: 4px;
      text-align: center;
      display: none;
    }
  }
}

.custom-file-input {
  /* 改變文字和背景顏色 */
  background-color: #e9e9e9;
  color: #5bacc2;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  /* 覆蓋預設樣式 */
  -webkit-appearance: none;
  appearance: none;
}

/* 鼠標懸停時的顏色變化 */
.custom-file-input:hover {
  background-color: #e2e2e2;
}

/* 隱藏檔案輸入的文字 (僅在某些瀏覽器有效) */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "+";
  display: inline-block;

  border: 1px solid #5bacc2;
  border-radius: 5px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #5bacc2;
}
.custom-file-input:hover::before {
  border-color: #a6c8d2;
}

.signin-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;

  form.signin {
    height: 275px;
    width: 340px;
    box-shadow: 0px 4px 60px 0px #aaaaaa;
    border-radius: 6px;
    margin: 0 auto;

    .sign-content {
      background: #f0f4f8;

      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .decorator-bar {
        height: 10px;
        background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
        border-radius: 6px 6px 0px 0px;
        margin-bottom: 20px;
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .close-signin {
          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: -5px;
            transition: transform 0.1s ease-in-out;
            &:active {
              transform: scale(1.2);
            }
          }
        }

        h1 {
          color: #666666;
          font-size: 24px;
          margin: 0;
          text-align: center;
          flex-grow: 1;

          font-family: Noto Sans TC;
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
        }
      }

      .main {
        padding: 15px;

        input[type="email"],
        input[type="text"],
        input[type="password"] {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          color: #757575;

          &:focus {
            border-color: #448899;
            outline: none;
          }
        }

        .signin-button,
        .go-to-signup {
          width: 100%;
          padding: 10px;
          margin-bottom: 5px;
          background-color: #448899;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#448899, 10%);
          }
        }

        .go-to-signup {
          background-color: #f0f4f8;
          color: #666666;
          text-decoration: none;

          &:hover {
            background-color: darken(#f8f9fa, 10%);
          }
        }
      }
    }
  }
}

.signup-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;

  form.signup {
    width: 340px;
    height: auto;
    box-shadow: 0px 4px 60px 0px #aaaaaa;
    border-radius: 6px;
    margin: 0 auto;
    background: #f0f4f8;

    .signup-content {
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;

      .decorator-bar {
        height: 10px;
        background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
        border-radius: 6px 6px 0 0;
        margin-bottom: 20px;
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        button.close-signup {
          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: -5px;
            transition: transform 0.1s ease-in-out;
            &:active {
              transform: scale(1.2);
            }
          }
        }

        h1 {
          color: #666666;
          font-size: 24px;
          margin: 0;
          text-align: center;
          flex-grow: 1;
          font-family: Noto Sans TC;
          font-weight: 700;
          line-height: 24px;
        }
      }

      .main {
        padding: 15px;

        input[type="email"],
        input[type="text"],
        input[type="password"] {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          color: #757575;

          &:focus {
            border-color: #448899;
            outline: none;
          }
        }

        .signup-button,
        .go-to-signin {
          width: 100%;
          padding: 10px;
          margin-bottom: 5px;
          background-color: #448899;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#448899, 10%);
          }
        }

        .go-to-signin {
          background-color: #f0f4f8;
          color: #666666;
          text-decoration: none;

          &:hover {
            background-color: darken(#f8f9fa, 10%);
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 104px;
  margin-top: 40px;
  text-align: center;
  background-color: #757575;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
    color: #ffffff;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  header.navigation {
    width: 100%;
    .navi-content {
      width: 90% !important;
    }
  }
  section.no-booking-area {
    width: 100%;
    div.no-booking-group {
      width: 90%;
    }
  }
  section.welcome-area {
    width: 100%;
    .hero {
      .hero-content {
        width: 90% !important;
        .input-area {
          width: 90% !important;
        }
      }
    }
  }
  section.list-bar {
    width: 90% !important;
  }
  section.attractions {
    width: 100%;
    div.attractions-group {
      width: 90% !important;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  section.indivisual-location {
    width: 100% !important;
    div.location {
      display: flex;
      justify-content: space-around;

      width: 90% !important;
      .pic-area {
        margin-right: 20px;
        .circle-btn-area {
          // width: 90%;
          .circle-container {
            // width: 90%;
          }
        }
      }
      .profile {
        margin-top: 30px;
        .booking {
          margin-bottom: 0;
          .tour-title,
          .tour-content,
          .choose-day,
          .time,
          .price {
            // margin-bottom: 5px;
            font-size: 14px;
          }

          .time {
            margin-bottom: 10px;
            input {
              width: 60% !important;
            }
          }
        }
      }
    }
  }
  section.description-area {
    width: 100%;
    div.dis-content {
      width: 90%;
    }
  }
  section.booking-location {
    width: 100% !important;
    div.location {
      width: 90% !important;
      .pic-area {
        width: auto;
        height: auto;
      }
    }
  }
  section.contact-area {
    width: 100%;
    div.contact-group {
      width: 90%;
    }
  }

  section.card-area {
    width: 100%;
    div.card-group {
      width: 90%;
    }
  }
  section.total-submit {
    width: 100%;
    div.totla-area {
      width: 90%;
    }
  }

  div.seperate {
    hr {
      width: 90%;
    }
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  header.navigation {
    width: 100%;
    .navi-content {
      width: 90% !important;

      .header-button-area {
        .header-2-buttons-area {
          button {
            padding: 0 !important;
            font-size: 0.9rem !important;
          }
        }
      }
    }
  }
  section.no-booking-area {
    width: 100%;
    div.no-booking-group {
      width: 90%;
    }
  }
  section.welcome-area {
    width: 100%;
    .hero {
      background-position: left !important;
      .hero-content {
        width: 90% !important;
        .input-area {
          width: 90% !important;
        }
      }
    }
  }
  section.list-bar {
    width: 90% !important;
  }

  section.attractions {
    width: 100%;
    div.attractions-group {
      width: 90% !important;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  section.indivisual-location {
    width: 100% !important;
    margin-top: 0;
    div.location {
      width: 100% !important;
      flex-direction: column;
      align-items: center;
      .pic-area {
        width: 100%;
        margin-right: 0;
      }
      .profile {
        width: 95%;
        margin-top: 30px;
        .booking {
          .price {
            margin-bottom: 30px;
          }
          .reservation-btn {
            margin: 0;
          }
        }
      }
    }
  }
  section.booking-location {
    width: 100% !important;
    margin: 0;
    margin-top: 10px;
    div.location {
      width: 100% !important;
      flex-direction: column;
      align-items: center;
      .pic-area {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
      }
      .booking-profile {
        width: 100%;
        div.trash-btn {
          align-items: flex-end;
          position: unset !important;
          button {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  div.seperate {
    hr {
      margin: 20px 0;
    }
  }
  section.contact-area {
    width: 100%;
    div.contact-group {
      width: 95%;
    }
  }

  section.card-area {
    width: 100%;
    div.card-group {
      width: 95%;
    }
  }
  section.total-submit {
    width: 100%;
    div.totla-area {
      width: 95%;
    }
  }
  div.seperate {
    hr {
      width: 95%;
    }
  }
}

@media (min-width: 360px) and (max-width: 390px) {
  .navi-content {
    font-size: 100% !important;
    a.navi-link {
      h2 {
        font-size: 2rem !important;
      }
    }

    .header-button-area {
      .header-2-buttons-area {
        button {
          font-size: 1.1rem !important;
        }
      }
    }
  }

  section.indivisual-location {
    div.location {
      .pic-area {
        height: 350px;
      }
      .profile {
        margin-top: 15px;
        .booking {
          .price {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
